<html>
    <head>
		<style>
			#addleave{
				margin:auto;
				}
        </style>
        <script>
            function onstatus{
                alert()
            }
    </head>
    <body>
        <h1 style="text-align:center;">Leaves</h1>
        <form>
            <input type="button" id="addleave" value="Add">
			<input type="button" id="editleave" value="Edit">
            <input type="button" id="deleteleave" value="Delete">
            <input type="text" id="leave" value="Leave Date">
            <input type="textarea" id="description" value="Description">
        </form>
    </body>
</html>